APP_NAME=Square Samurai Test Backend
DEBUG=true

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/square_samurai_test

SQUARE_ENVIRONMENT=sandbox
SQUARE_BASE_URL=https://connect.squareupsandbox.com
SQUARE_APPLICATION_ID=
SQUARE_APPLICATION_SECRET=
SQUARE_REDIRECT_URI=http://localhost:8800/api/square/oauth/callback
SQUARE_VERSION=2026-01-22
SQUARE_SCOPES=MERCHANT_PROFILE_READ PAYMENTS_READ ORDERS_READ